
p{
  font-size: 14px;
  color: #262626;
}
.section{
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-heading{
  color: red;
  font-size: 26px;
}
.underline{
  height: 04px;
  width: 4rem;
  background-color: red;
  margin-top: 10px;
}
.bg-c-light{
  background-color:skyblue
}


.footer a{
  color: white;
  text-decoration: none !important;
}
.footer a:hover{
  color:blue;
  
}
/* .container {
  height: 10px;
  width: 10px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.social-container {
  background: #eee;
  padding: 25px 50px;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
  align-Items: "center"
  horizontal-align 30px;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
  margin-left: 580px;
margin-bottom: 4px;
vertical-align: middle;
font-size: 24px;
}

a.facebook {
  color: #4968ad;
  margin-left: 8px;
margin-bottom: 4px;
vertical-align: middle;
font-size: 24px;
}

a.twitter {
  color: #49a1eb;
  margin-left: 8px;
margin-bottom: 4px;
vertical-align: middle;
font-size: 24px;
}

a.instagram {
  color: black;
  margin-left: 8px;
margin-bottom: 4px;
vertical-align: middle;
font-size: 24px;
}


  
 
  



